<ul id="nav-container">
    <a class="nav-link" href="#">
        <div>
            <img src="#" alt="#">
            <p><%= currentUser.email %></p>
        </div>
    </a>
    <% for (section of userSections) { %>
        <a href="/section/<%= section._id %>" class="nav-link">
            <span><%= section.name %></span>
        </a>
    <% } %>
    <form action="/session?_method=DELETE" method="POST">
        <input type="submit" value="LOG OUT">
    </form>
</ul>