<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('./partials/head.ejs') %>
    <title>Master My Resume</title>
</head>
<nav>
    <%- include ('./partials/nav.ejs') %>
</nav>
<body>
    <div class="item-cards">
        <div id="add-item" class="card">
            <div class="circle plus"></div>
            <p>ADD NEW ITEM</p>
        </div>
    </div>
</body>
</html>