<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Master My Resume</title>
</head>
<nav>
    <%- include ('./partials/nav.ejs') %>
</nav>
<body>
    <div class="item-cards">
        <div id="add-item" class="card">
            <div class="circle plus"></div>
            <p>ADD NEW ITEM</p>
        </div>
    </div>
</body>
</html>