:root {
    --yale-blue: #054A91
    ;--steel-blue: #3E7CB1
    ;--iceburg: #81A4CD
    ;--alice-blue: #DBE4EE
    ;--heat-wave: #F17300
    ;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

/* ================================================================================
STYLING FOR FORMS AND INPUT TYPES
=================================================================================*/

form {
    width: 80%
}


input {
    width: 100%
    ;padding: 8px 14px
    ;margin: 8px 0
    ;display: inline-block
    ;border: 1px solid var(--steel-blue)
    ;border-radius: 5px
    ;box-sizing: border-box
    ;font-size: max(1.5vw, 15px)
}

input:focus {
    outline: none
    ;box-shadow: 0 0 5px var(--heat-wave)
}

input[type=textarea], select {
    width: 100%
}

input[type=submit] {
    background-color: var(--alice-blue)
    ;color: var(--yale-blue)
    ;font-size: max(1.5vw, 10px)
    ;border: none
    ;border-radius: 5px
    ;cursor: pointer
    ;padding: 10px 0
    ;box-shadow: 0 0 2px var(--yale-blue)
}

input[type=submit]:hover {
    background-color: var(--heat-wave)
    ;color: white
}

.form-container {
    display: flex
    ;flex-direction: column
    ;justify-content: center
    ;align-items: center
    ;position: fixed
    ;top: 25%
    ;left: 50%
    ;margin-left: min(-23vw, -150px)
    ;margin-top: min(-16.5vw, -150px)
    ;width: max(45vw, 300px)
    ;height: auto
    ;border-radius: 10px
    ;box-shadow: 0px 0px 3px var(--iceburg)
    ;font-size: max(2vw, 15px)
    ;padding: 3vw 0
}

#index {
    display: flex
    ;justify-content: center
    ;align-items: center
}

/* ================================================================================
STYLING FOR NAV BAR
=================================================================================*/

nav {
    width: max(15vw, 160px)
    ;position: fixed
    ;top: 0px
    ;bottom: 0px
    ;left: 0px
    ;background-color: var(--alice-blue)
}

#nav-container {
    display: flex
    ;width: max(15vw, 160px)
    ;position: fixed
    ;top: 0px
    ;bottom: 0px
    ;left: 0px
    ;flex-direction: column
    ;align-items: center
    ;padding: 0
    ;margin: 0
}

.nav-link {
    display: flex
    ;justify-content: center
    ;align-items: center
    ;text-decoration: none
    ;padding: 10px 0
    ;margin: 8px 0
    ;width: 100%
    ;font-size: max(1.5vw, 20px)
    ;background-color: var(--steel-blue)
    ;color: white
}

.nav-link:hover {
    background-color: var(--heat-wave)
}

/* .modal {
    display: flex
    ;opacity: 0
    ;justify-content: center
    ;align-items: center
    ;background-color: rgba(0, 0, 0, .4)
    ;position: fixed
    ;top: 0
    ;left: 0
    ;height: 100%
    ;width: 100%
    ;z-index: -1
    ;overflow: auto
} */

/* .modal-content {
    display: flex
    ;flex-wrap: wrap
    ;justify-content: center
    ;align-items: center
    ;background-color: white
    ;font-family: Arial
    ;height: 40vw
    ;width: 65vw
    ;border-radius: 3vw
    ;box-shadow: 0 2px 2px rgba(0, 0, 0, .2)
} */

.display {
    user-select: none
    ;pointer-events: none
}

#item-cards {
    display: grid
    ;grid-template-columns: repeat(auto-fill, max(15vw, 160px))
    ;column-gap: 1.5vw
    ;row-gap: 1.5vw
    ;padding-left: max(15vw, 160px)
    ;max-width: 100%
    ;margin-left: 1vw
}

.card {
    display: flex
    ;background-color: var(--alice-blue)
    ;flex-direction: column
    ;justify-content: space-evenly
    ;width: max(15vw, 160px)
    ;height: max(20vw, 220px)
    ;text-decoration: none
    ;border: .25vw solid var(--steel-blue)
    ;border-radius: 5px
    ;color: var(--steel-blue)
    ;font-size: max(1.5vw, 20px)
}

.card:hover {
    background-color: white
    ;border-color: var(--heat-wave)
    ;color: var(--heat-wave)
}

.card p {
    text-align: center
    /* ;color: var(--iceburg) */
    ;font-weight: bold
    ;margin: 0
}

#info-container {
    margin: 1vw
}

.circle {
    position: relative
    ;vertical-align: middle
    ;margin: 0 auto
    ;border-radius: 100%
    ;width: 50%
    ;padding-top: 50%
}

.circle.plus {
    border: .25vw solid var(--steel-blue)
}

.card:hover > .circle.plus {
    border-color: var(--heat-wave)
}

.circle::before, .circle::after {
    content: ''
    ;position: absolute
    ;top: 0
    ;left: 0
    ;right: 0
    ;bottom: 0
}
.circle.plus::before, .circle.plus::after {
    background: var(--steel-blue);
}

.card:hover > .circle.plus::before, .card:hover > .circle.plus::after {
    background: var(--heat-wave);
}

.circle.plus::before{
    width: .6vw;
    margin: 20% auto;
}

.circle.plus::after{
    margin: auto 20%;
    height: .6vw;
}
