nav {
    width: max(15vw, 160px)
    ;position: fixed
    ;top: 0px
    ;bottom: 0px
    ;left: 0px
    ;background-color: royalblue
}

.item-cards {
    display: grid
    ;grid-template-columns: repeat(auto-fill, max(15vw, 160px))
    ;column-gap: 1.5vw
    ;row-gap: 1.5vw
    ;padding-left: max(15vw, 160px)
    ;max-width: 100%
    ;margin-left: 1vw
}

.card {
    display: flex
    ;flex-direction: column
    ;justify-content: space-evenly
    ;width: max(15vw, 160px)
    ;height: 20vw
}

.card p {
    text-align: center
    ;font-size: 2vw
    ;margin: 0
}

.item {
    background-color: #eeeeee
    ;justify-content: flex-end
    ;border: .25vw solid #999999
    ;border-radius: 1vw
}

.add {
    background-color: lightgreen !important
    ;border: .25vw solid limegreen
    ;border-radius: 1vw
}

.add p {
    color: limegreen
    ;font-weight: bold
}

.add p {
    text-align: center
    ;color: limegreen
    ;font-size: 2vw
    ;font-weight: bold
    ;margin: 0
}

.add {
    background-color: lightgreen
    ;border: .25vw solid limegreen
    ;border-radius: 1vw
}

.info-container {
    margin: 1vw
}

.buttons-container {
    display: flex
    ;flex-direction: column
    ;height: calc(100%/3)
    ;justify-content: space-evenly
}

.button {
    width: 70%
    ;height: auto
    ;align-self: center
    ;border-radius: 1vw
    ;border: .1vw solid lightgray
}

.edit :hover {
    background-color: lightgreen
    ;border-radius: 1vw
}

.delete :hover {
    background-color: coral
    ;border-radius: 1vw
}

.circle {
    border: .25vw solid limegreen
    ;position: relative
    ;vertical-align: middle
    ;margin: 0 auto
    ;border-radius: 100%
    ;width: 50%
    ;padding-top: 50%
}

.circle.plus {
    border: .25vw solid limegreen
}
.circle::before, .circle::after {
    content: ''
    ;position: absolute
    ;top: 0
    ;left: 0
    ;right: 0
    ;bottom: 0
}
.circle.plus::before, .circle.plus::after {
    background:limegreen;
}
.circle.plus::before{
    width: .6vw;
    margin: 20% auto;
}
.circle.plus::after{
    margin: auto 20%;
    height: .6vw;
}
