<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head.ejs') %>
    <title>New Item</title>
</head>
<body>
    <%- include ('../partials/form_action.ejs', {method: 'POST', type: section.itemType, item: {}}) %> 
</body>
</html>