<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head.ejs') %>
    <title>New Item</title>
</head>
<body>
    <%- include ('../partials/form.ejs', {method: 'POST'}) %> 
</body>
</html>