<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head.ejs') %>
    <title>Item Page</title>
</head>
<body>
    <%- include ("../partials/form_action.ejs", {method: 'SHOW', type: item.itemType}) %> 
</body>
</html>