<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head.ejs') %>
    <title>Sign-Up</title>
</head>
<body>
    <div class="form-container">
        <form action="/user" method="POST">
            Email: <input type="text" name="email" placeholder="email">
            Password: <input type="text" name="password" placeholder="password">
            <input type="submit" value="Sign Up">
        </form>
    </div>
</body>
</html>